{% extends "@DominikzoggEnergyCalculator/CRUD/list.html.twig" %}

{% block table_labels %}
    <th>{{ (transPrefix~".list.date")|trans() }}</th>
    <th>{{ (transPrefix~".list.calorie")|trans() }}</th>
    <th>{{ (transPrefix~".list.protein")|trans() }}</th>
    <th>{{ (transPrefix~".list.carbohydrate")|trans() }}</th>
    <th>{{ (transPrefix~".list.fat")|trans() }}</th>
{% endblock %}

{% block object_values %}
    <td>{{ object.date|date('d.m.Y') }}</td>
    <td>{{ object.calorie|round(1) }}</td>
    <td>{{ object.protein|round(1) }}</td>
    <td>{{ object.carbohydrate|round(1) }}</td>
    <td>{{ object.fat|round(1) }}</td>
{% endblock %}
