{% extends "@DominikzoggEnergyCalculator/layout.html.twig" %}

{% block pagetitle %}{{ (transprefix~".list.title")|trans() }}{% endblock %}

{% block body %}
    <h1>{{ (transprefix~".list.title")|trans() }}</h1>
    <a class="btn btn-default" href="{{ url(editRoute) }}" title="{{ (transprefix~".list.create")|trans() }}">
        <i class="glyphicon glyphicon-plus"></i>
    </a><br />
    <br />
    {% if entities.template|default(false) %}
        {{ knp_pagination_render(entities) }}
    {% endif %}
    {% if entities|length > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ (transprefix~".list.date")|trans() }}</th>
                <th>{{ (transprefix~".list.weight")|trans() }}</th>
                <th>{{ (transprefix~".list.actions")|trans() }}</th>
            </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.date|date('d.m.Y') }}</td>
                        <td>{{ entity.weight|round(1) }}</td>
                        <td>
                            {% if editRoute|default(false) %}
                                <a class="btn btn-default" href="{{ url(editRoute, {'id': entity.id }) }}" title="{{ (transprefix~".list.edit")|trans() }}">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if viewRoute|default(false) %}
                                <a class="btn btn-default" href="{{ url(viewRoute, {'id': entity.id }) }}" title="{{ (transprefix~".list.show")|trans() }}">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                            {% endif %}
                            {% if deleteRoute|default(false) %}
                                <a class="btn btn-danger" data-delete-link href="{{ url(deleteRoute, {'id': entity.id }) }}" title="{{ (transprefix~".list.delete")|trans() }}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if entities.template|default(false) %}
            {{ knp_pagination_render(entities) }}
        {% endif %}
    {% endif %}
{% endblock %}
