{% extends "@DominikzoggEnergyCalculator/layout.html.twig" %}

{% block pagetitle %}{{ (transPrefix~".view.title")|trans() }}{% endblock %}
{% block title %}{{ (transPrefix~".view.title")|trans() }}{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ (transPrefix~".view.name")|trans() }}</th>
                <th>{{ (transPrefix~".view.amount")|trans() }}</th>
                <th>{{ (transPrefix~".view.calorie")|trans() }}</th>
                <th>{{ (transPrefix~".view.protein")|trans() }}</th>
                <th>{{ (transPrefix~".view.carbohydrate")|trans() }}</th>
                <th>{{ (transPrefix~".view.fat")|trans() }}</th>
            </tr>
        </thead>
        <tbody>
            {% for comestibleWithinDay in object.comestiblesWithinDay %}
                <tr>
                    <td>{{ comestibleWithinDay.name }}</td>
                    <td>{{ comestibleWithinDay.amount|round(1) }}</td>
                    <td>{{ comestibleWithinDay.calorie|round(1) }}</td>
                    <td>{{ comestibleWithinDay.protein|round(1) }}</td>
                    <td>{{ comestibleWithinDay.carbohydrate|round(1) }}</td>
                    <td>{{ comestibleWithinDay.fat|round(1) }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><strong>{{ (transPrefix~".view.total")|trans() }}</strong></td>
                <td></td>
                <td><strong>{{ object.calorie|round(1) }}</strong></td>
                <td><strong>{{ object.protein|round(1) }}</strong></td>
                <td><strong>{{ object.carbohydrate|round(1) }}</strong></td>
                <td><strong>{{ object.fat|round(1) }}</strong></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ (transPrefix~".view.key")|trans() }}</th>
                <th>{{ (transPrefix~".view.value")|trans() }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ (transPrefix~".view.weight")|trans() }}</td>
                <td>{{ object.weight|round(1) }}</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        {% if editRoute|default(false) %}
            <a class="btn btn-default" href="{{ url(editRoute, {'id': object.id }) }}" title="{{ (transPrefix~".view.edit")|trans() }}">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
        {% endif %}
        <a class="btn btn-default" href="{{ url(listRoute) }}" title="{{ (transPrefix~".view.back")|trans() }}">
            <i class="glyphicon glyphicon-list-alt"></i>
        </a>
    </div>
{% endblock %}