{% extends "@DominikzoggEnergyCalculator/layout.html.twig" %}

{% block pagetitle %}{{ (transprefix~".list.title")|trans() }}{% endblock %}

{% block body %}
    <h1>{{ (transprefix~".list.title")|trans() }}</h1>
    <br />
    <a class="btn btn-default" href="{{ url(editroute) }}" title="{{ (transprefix~".list.create")|trans() }}">
        <i class="glyphicon glyphicon-plus"></i>
    </a><br />
    <br />
    {% if entities|length > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ (transprefix~".list.name")|trans() }}</th>
                <th>{{ (transprefix~".list.actions")|trans() }}</th>
            </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity }}</td>
                        <td>
                            {% if editroute|default(false) %}
                                <a class="btn btn-default" href="{{ url(editroute, {'id': entity.id }) }}" title="{{ (transprefix~".list.edit")|trans() }}">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            {% endif %}
                            {% if showroute|default(false) %}
                                <a class="btn btn-default" href="{{ url(showroute, {'id': entity.id }) }}" title="{{ (transprefix~".list.show")|trans() }}">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                            {% endif %}
                            {% if deleteroute|default(false) %}
                                <a class="btn btn-danger" data-delete-link href="{{ url(deleteroute, {'id': entity.id }) }}" title="{{ (transprefix~".list.delete")|trans() }}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if entities.template|default(false) %}
            {{ knp_pagination_render(entities) }}
        {% endif %}
    {% endif %}
{% endblock %}
