{% extends "@DominikzoggEnergyCalculator/layout.html.twig" %}

{% import "@DominikzoggEnergyCalculator/macro.html.twig" as macro %}

{% block pagetitle %}{{ (transPrefix~".edit.title")|trans() }}{% endblock %}
{% block title %}{{ (transPrefix~".edit.title")|trans() }}{% endblock %}

{% block body %}
    <form action="{% block form_action %}{{ url(editRoute, {'id': object.id}) }}{% endblock %}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ bootstrap_set_style('horizontal') }}
        {% block form_buttons %}{{ macro.editButtons(object, listRoute, listRole, viewRoute, viewRole, transPrefix) }}{% endblock %}
        {{ form_widget(form) }}
        {{ block('form_buttons') }}
    </form>
{% endblock %}
