{% extends "@SaxulumBootstrapProvider/Form/bootstrap.html.twig" %}

{% block form_label %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = prepareFormLabel(form) %}
        {% endif %}
        {{ parent() }}
    {% endspaceless %}
{% endblock form_label %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = prepareFormLabel(form) %}
        {% endif %}
        {% if type is defined and type == 'submit' %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-primary')|trim }) %}
        {% else %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-default')|trim }) %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}{% if form.vars.name == 'comestible' %} data-default-value="{{ choice.data.defaultValue }}"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}

{% block ajax_entity_widget %}
    {% spaceless %}
        {% set attr = attr|merge({
            'class': (attr.class|default('') ~ ' form-control')|trim,
            'data-select2-rendering': true,
            'data-route': url(options.route),
            'data-choice-label': options.choice_label,
            'data-placeholder': attribute(form.vars.attr, 'placeholder')|default('')
        }) %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% for choice in choices %}
                {% if choice is selectedchoice(value) %}
                    <option value="{{ choice.value }}" selected="selected">{{ choice.label|trans({}, translation_domain) }}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% endspaceless %}
{% endblock %}
