<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block pagetitle %}{% endblock pagetitle %}</title>
    {% block stylesheet %}
        {% stylesheets filter='lessphp,csscopyfile,?csscompress'
        'vendor/twbs/bootstrap/less/bootstrap.less'
        'vendor/saxulum/saxulum-bootstrap-provider/src/Saxulum/SaxulumBootstrapProvider/Resources/less/form.less'
        'vendor/select2/select2/dist/css/select2.css'
        'vendor/eternicode/bootstrap-datepicker/css/datepicker3.css'
        %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/{{ app.assetic_asset_path }}/{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets filter='csscopyfile,?csscompress'
        'src/Dominikzogg/EnergyCalculator/Resources/public/css/*.css'
        %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/{{ app.assetic_asset_path }}/{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock stylesheet %}
    {% block scripts %}
        {% javascripts filter='?jsmin'
        'vendor/jquery/jquery/jquery-*.js'
        'vendor/twbs/bootstrap/js/collapse.js'
        'vendor/twbs/bootstrap/js/dropdown.js'
        'vendor/twbs/bootstrap/js/modal.js'
        'vendor/twbs/bootstrap/js/tooltip.js'
        'vendor/select2/select2/dist/js/select2.js'
        'vendor/select2/select2/dist/js/i18n/de.js'
        'vendor/eternicode/bootstrap-datepicker/js/bootstrap-datepicker.js'
        'vendor/eternicode/bootstrap-datepicker/js/locales/bootstrap-datepicker.de.js'
        'vendor/saxulum/saxulum-collection-js/saxulum-collection.js'
        'vendor/nnnick/chartjs/Chart.js'
        %}
        <script type="text/javascript" src="{{ app.request.basepath }}/{{ app.assetic_asset_path }}/{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts filter='?jsmin'
        'src/Dominikzogg/EnergyCalculator/Resources/public/js/*.js'
        %}
        <script type="text/javascript" src="{{ app.request.basepath }}/{{ app.assetic_asset_path }}/{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!--[if lte IE 8]>
        {% javascripts filter='?jsmin' 'vendor/excanvas/excanvas/excanvas.js' %}
            <script type="text/javascript" src="{{ app.request.basepath }}/{{ app.assetic_asset_path }}/{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->
    {% endblock scripts %}
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('index') }}">{{ "projectname"|trans }}</a>
            </div>
            <div class="navbar-collapse collapse">
                {{ knp_menu_render('main', { 'style': 'navbar' }) }}
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{% block title %}{% endblock %}</h1>
                {% block flashmessages %}
                    {% for type, flashBag in app.session.flashbag.all %}
                        {% for flashMessage in flashBag %}
                            {# alert-success alert-info alert-warning  alert-danger #}
                            <div class="alert alert-{{ type|replace({error:'danger'}) }} alert-dismissible " role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'close'|trans }}</span></button>
                                {{ flashMessage|trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
                {% block body %}{% endblock body %}
            </div>
        </div>
    </div>
    <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <strong>{{ "deleteconfirmation"|trans }}</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "cancel"|trans }}</button>
                    <a href="#" class="btn btn-danger danger" data-delete-confirm-button>{{ "delete"|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
