<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block pagetitle %}{% endblock pagetitle %}</title>
    {% block stylesheet %}
        {% stylesheets filter='lessphp,csscopyfile,?cssmin' output='css/libraries.css'
        'vendor/twbs/bootstrap/less/bootstrap.less'
        'vendor/braincrafted/bootstrap-bundle/Bc/Bundle/BootstrapBundle/Resources/less/form.less'
        %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/{{ app.assetic_asset_path }}/{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets filter='csscopyfile' output='css/base.css'
        'src/Dominikzogg/EnergyCalculator/Resources/public/css/*.css'
        %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/{{ app.assetic_asset_path }}/{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock stylesheet %}
    {% block scripts %}
        {% javascripts filter='?jsmin' output='js/libraries.js'
        'vendor/jquery/jquery/jquery-*.js'
        'vendor/saxulum/saxulum-collection-js/saxulum-collection.js'
        %}
        <script type="text/javascript" src="{{ app.request.basepath }}/{{ app.assetic_asset_path }}/{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts filter='?jsmin' output='js/base.js'
        'src/Dominikzogg/EnergyCalculator/Resources/public/js/*.js'
        %}
        <script type="text/javascript" src="{{ app.request.basepath }}/{{ app.assetic_asset_path }}/{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            (function($){
                $(document).ready(function(){
                    $('form').saxulumCollection('init', {});
                });
            })(jQuery);
        </script>
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock scripts %}
</head>
<body>
<div class="container-fluid">
    <div class="row">

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        {{ knp_menu_render('main', {'nav_type': 'list'}) }}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        {% block body %}{% endblock body %}
    </div>
</div>
</body>
</html>