{% extends "@DominikzoggEnergyCalculator/CRUD/list.html.twig" %}

{% block table_labels %}
    <th>{{ (transPrefix~".list.name")|trans() }}</th>
    <th>{{ (transPrefix~".list.calorie")|trans() }}</th>
    <th>{{ (transPrefix~".list.shortPCF")|trans() }}</th>
{% endblock %}

{% block object_values %}
    <td>{{ object.name }}</td>
    <td>{{ object.calorie|round(1) }}</td>
    <td class="shortPCF">{{ object.protein|round(1) }} / {{ object.carbohydrate|round(1) }} / {{ object.fat|round(1) }}</td>
{% endblock %}
