{% extends "@DominikzoggEnergyCalculator/CRUD/list.html.twig" %}

{% block table_labels %}
    <th>{{ (transPrefix~".list.name")|trans() }}</th>
    <th>{{ (transPrefix~".list.calorie")|trans() }}</th>
    <th>{{ (transPrefix~".list.protein")|trans() }}</th>
    <th>{{ (transPrefix~".list.carbohydrate")|trans() }}</th>
    <th>{{ (transPrefix~".list.fat")|trans() }}</th>
{% endblock %}

{% block entity_values %}
    <td>{{ entity.name }}</td>
    <td>{{ entity.calorie|round(1) }}</td>
    <td>{{ entity.protein|round(1) }}</td>
    <td>{{ entity.carbohydrate|round(1) }}</td>
    <td>{{ entity.fat|round(1) }}</td>
{% endblock %}
